# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/defi_platform/node_modules
/Truffle_Blockend/node_modules
/frontend/defi_platform/.pnp
/frontend/defi_platform/.pnp.js

# testing
/frontend/defi_platform/coverage

# production
/frontend/defi_platform/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
